{% extends 'base.html' %}
{% load custom_filters static %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Balance Sheet</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">Home</a></li>
                        <li class="breadcrumb-item active">Balance Sheet</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr style="background-color: #007f5c; color: #fff;">
                                        <th>Category</th>
                                        <th>{{ current_year.cyear }}</th>
                                        <th>{{ past_year.pyear }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Assets</strong></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Cattle</td>
                                        <td>{{ current_year.assets.cattle | floatformat:2 }}</td>
                                        <td>{{ past_year.assets.cattle | floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Stock</td>
                                        <td>{{ current_year.assets.stock | floatformat:2 }}</td>
                                        <td>{{ past_year.assets.stock | floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Other Incomes</td>
                                        <td>{{ current_year.assets.other_income | floatformat:2 }}</td>
                                        <td>{{ past_year.assets.other_income | floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Accounts Receivable</td>
                                        <td>{{ current_year.assets.accounts_receivable }}</td>
                                        <td>{{ past_year.assets.accounts_receivable }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total Assets</strong></td>
                                        <td><strong>{{ current_year.total_assets | floatformat:2 }}</strong></td>
                                        <td><strong>{{ past_year.total_assets | floatformat:2 }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Liabilities</strong></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Other Expenses</td>
                                        <td>{{ current_year.liabilities.other_expense | floatformat:2 }}</td>
                                        <td>{{ past_year.liabilities.other_expense | floatformat:2 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Accounts Payable</td>
                                        <td>{{ current_year.liabilities.accounts_payable }}</td>
                                        <td>{{ past_year.liabilities.accounts_payable }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total Liabilities</strong></td>
                                        <td><strong>{{ current_year.total_liabilities | floatformat:2 }}</strong></td>
                                        <td><strong>{{ past_year.total_liabilities | floatformat:2 }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div> 
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>

{% comment %} <script>
    window.addEventListener("load", function() {
        var printButton = document.getElementById("printButton");
        printButton.addEventListener("click", function(event) {
        event.preventDefault();
        window.print();
    });
    });
</script>  {% endcomment %}


<script>
    function getBase64Image(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);
        xhr.responseType = 'blob'; 
        xhr.onload = function() {
            var reader = new FileReader();
            reader.onloadend = function() {
                callback(reader.result); 
            };
            reader.readAsDataURL(xhr.response); 
        };
        xhr.send();
    }

    $(document).ready(function() {
        var companyName = "{{ latest_farm.full_name }}";
        var logoUrl = "{{ latest_farm.logo_url }}"; 
    
        getBase64Image(logoUrl, function(base64Image) {
            initializeDataTables(companyName, base64Image, logoUrl);
        });
    });

    function getCurrentDate() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); 
        var yyyy = today.getFullYear();
        return mm + '/' + dd + '/' + yyyy;
    }

    function initializeDataTables(companyName, base64Image, logoUrl) {
        var todayDate = getCurrentDate();
        var table = $('#example2').DataTable({
            responsive: true,
            lengthChange: false,
            autoWidth: false,
            buttons: [
                'copy', 
                {
                    extend: 'excel',
                    title: function() {
                        return companyName + 'Balance Sheet Report - ' + todayDate;
                    },
                    customize: function(xlsx) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
                        $('row c[r^="A"]', sheet).attr('s', '2');
                    }
                },
                {
                    extend: 'pdf',
                    title: function() {
                        return 'Balance Sheet Report - ' + todayDate;
                    },
                    customize: function(doc) {
                        doc.content.splice(0, 0, {
                            text: todayDate + '\n' + companyName,
                            style: 'header'
                        });
                        doc.content.splice(1, 0, {
                            image: base64Image,
                            width: 100, 
                            alignment: 'center'
                        });
                    }
                },
                {
                    extend: 'print',
                    title: function() {
                        return 'Balance Sheet Report - ' + todayDate;
                    },
                    customize: function(win) {
                        $(win.document.body).prepend('<img src="' + logoUrl + '" style="display:block; margin:auto; width:100px;">');
                        $(win.document.body).prepend('<h3 style="text-align:center;">' + companyName + '</h3>');
                        $(win.document.body).prepend('<h5 style="text-align:center;">' + todayDate + '</h5>');
                        $(win.document.body).find('h3, h5').css('text-align', 'center');
                    }
                }
            ],
            order: [],
            dom: 'Bfrtip'
        });
    
        table.buttons().container().appendTo($('#example2_wrapper .col-md-6:eq(0)'));
    }
</script>

{% endblock %}



