{% extends 'base.html' %}


{% block content %}

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Stock Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../stock">Home</a></li>
              <li class="breadcrumb-item active">Stock Edit</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <form action="/stock_edit/{{d.stock_id}}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header" style="background-color: #007f5c;color: #fff;">
                <h3 class="card-title">Basic Information</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="inputName">Item</label>
                  <select id="inputStatus" name="item_id" class="form-control custom-select">
                    {% for d in data1 %}
                    <option value="{{d.item_id}}" {% if d.item_id == item.item_id %} selected {% endif %}>
                      {{ d.name }}
                    </option>
                    {% endfor %} 
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputName">Type</label>
                  <input type="text" id="inputName" name="type" value="{{d.type}}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputName">Measurement</label>
                  <select id="inputStatus" name="item_measurement_id" class="form-control custom-select">
                    {% for d in data2 %}
                    <option value="{{d.id}}" {% if d.id == item.item_measurement_id %} selected {% endif %}>
                      {{ d.measurement }}
                    </option>
                    {% endfor %} 
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputDescription">Quantity</label>
                  <input type="number" id="inputName" name="quantity" value="{{d.quantity}}" class="form-control" required>
                </div> 

              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12">
            <a href="../stock" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Update Stock</button>
          </div>
        </div>
      </form>
      </section>
  
  </div>
  
  {% endblock %}