<!-- purchase_order_add.html -->
{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}


  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Stock In</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Stock In</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Manage Stock In</h3>

          <div class="card-tools">
            {% if not request.user|is_allowed_user:"Supervisor" %} 
            <a class="btn" href="stockin_add" style="background-color: #007f5c;color: #fff;">
              <i class="fas fa-plus"></i>
              Add New
            </a>
            {% endif %}
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>

        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
        </div>
        {% endfor %}

        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 5%">
                        Id 
                      </th>
                      <th style="width: 10%">
                        Type
                      </th>
                      <th style="width: 10%">
                        Item
                      </th>
                      <th style="width: 15%">
                        Measurement
                      </th>
                      <th style="width: 10%">
                        Quantity 
                      </th>
                      <th style="width: 10%">
                        Unit Price
                      </th>
                      <th style="width: 20%">
                        Status 
                      </th>

                      <th style="width: 20%"> Actions </th>
                  </tr>
              </thead>
              <tbody>
                {% for d in data1 %}
                  <tr>
                      <td>
                        {{d.id}}
                      </td>
                      <td>
                        {{d.item_type.item_type}}
                      </td>
                      <td>
                        {{d.item.name}}
                      </td>
                      <td>
                        {{d.measurement.measurement}}
                      </td>
                      <td>
                        {{d.quantity}}
                      </td>
                      <td>
                        {{d.unit_price}}
                      </td>
                      <td>
                        <span class="badge {% if d.approval_status == 'Approved' %}badge-success{% elif d.approval_status == 'Pending' %}badge-warning{% elif d.approval_status == 'Rejected' %}badge-danger{% endif %}">
                        {{d.approval_status}}
                        </span>
                      </td>
                      
                      <td class="project-actions">
                        {% if not request.user|is_allowed_user:"Store Clerk" %} 
                          {% if d.approval_status != 'Approved' and d.approval_status != 'Rejected' %}
                              <button class="btn btn-success btn-sm" onclick="confirmApprove({{ d.id }})">Approve</button>
                              <button class="btn btn-danger btn-sm" onclick="confirmReject({{ d.id }})">Reject</button>
                          {% elif d.approval_status == 'Approved' %}
                              <span class="badge badge-success">Approved</span>
                          {% elif d.approval_status == 'Rejected' %}
                              <span class="badge badge-danger">Rejected</span>
                          {% endif %}
                        {% endif %}
                        <a class="btn btn-info btn-sm" href="/stockin_edit/{{d.id}}">
                          <i class="fas fa-pencil-alt">
                          </i>
                        </a>
                        <a class="btn btn-danger btn-sm" href="#" onclick="confirmDelete('{{ d.id }}')">
                          <i class="fas fa-trash">
                          </i>
                        </a>

                        <script>
                          function confirmDelete(cattleId) {
                              if (confirm("Are you sure you want to delete this Item request?")) {
                                  // If user confirms, redirect to the delete URL
                                  window.location.href = "/stockin_delete/" + cattleId;
                              }
                          }
                        </script>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>

    </section>
  </div>

  <style>
    .status-highlight {
      background-color: #f0ad4e; 
      font-weight: bold;
  }
  </style>

  
<script>
  function confirmApprove(orderHasItemSupplierId) {
      if (confirm("Are you sure you want to approve this request?")) {
          $.ajax({
              type: "POST",
              url: "/approve_stockin/" + orderHasItemSupplierId + "/",
              data: {
                  csrfmiddlewaretoken: "{{ csrf_token }}",
                  status: 'Approved'  // Send the status along with the request
              },
              success: function(response) {
                  location.reload();
              },
              error: function(xhr, errmsg, err) {
                  console.log(xhr.status + ": " + xhr.responseText);
              }
          });
      }
  } 
  
  function confirmReject(orderHasItemSupplierId) {
      if (confirm("Are you sure you want to reject this request?")) {
          $.ajax({
              type: "POST",
              url: "/reject_stockin/" + orderHasItemSupplierId + "/",
              data: {
                  csrfmiddlewaretoken: "{{ csrf_token }}",
                  status: 'Rejected'  // Send the status along with the request
              },
              success: function(response) {
                  location.reload();
              },
              error: function(xhr, errmsg, err) {
                  console.log(xhr.status + ": " + xhr.responseText);
              }
          });
      }
  }
  </script>

  
</div>


{% endblock %}
