{% extends 'base.html' %}


{% block content %} 

  <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cattle Pregnancy Add</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../cattle_pregnancy">Home</a></li>
              <li class="breadcrumb-item active">Cattle Pregnancy Add</li>
            </ol>
          </div>
        </div>
      </div>
    </section>


    <section class="content">
    <form action="/cattle_pregnancy_add" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header" style="background-color: #007f5c;color: #fff;">
              <h3 class="card-title">Basic Information</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              {% if errors %}
                <div class="alert alert-danger">
                  <ul>
                    {% for error in errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              
              <div class="form-group">
                <label for="inputName">Pregnancy Type</label>
                <select id="inputStatus" name="pregnancy_type" class="form-control custom-select">
                  <option selected disabled>Select one</option>
                  <option>Artificial Insemination</option>
                  <option>Bull</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">Pregnancy Date</label>
                <input type="date" id="pregnancy_date" name="pregnancy_date" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Cattle</label>
                <select id="inputStatus" name="cattle_id" class="form-control custom-select">
                  {% for d in data1 %}
                  <option value="{{d.farm_entity_id}}">{{ d.cattle_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">Pregnancy Status</label>
                <select id="inputStatus" name="pregnancy_status" class="form-control custom-select">
                  {% for d in data2 %}
                  <option value="{{d.pregnancy_status_id}}">{{ d.pregnancy_status}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">Checked by</label>
                <input type="text" id="inputName" name="checked_by" class="form-control">
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">
          <a href="cattle_pregnancy" class="btn btn-secondary">Back</a>
          <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Add Cattle Pregnancy</button>
          {% comment %} <input type="submit" value="Add Cattle" class="btn btn-success float-right"> {% endcomment %}
        </div>
      </div>
    </form>
    </section>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const today = new Date().toISOString().split('T')[0]; 
      document.getElementById('pregnancy_date').setAttribute('max', today);
    });
  </script>
  
  {% endblock %}

