{% extends 'base.html' %}


{% block content %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cattle Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../cattle">Home</a></li>
              <li class="breadcrumb-item active">Cattle Edit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <form action="/cattle_edit/{{cattle.cattle_id}}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Basic Information</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                {% if errors %}
                <div class="alert alert-danger">
                  <ul>
                    {% for error in errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              
                <div class="form-group">
                  <label for="inputName">Id</label>
                  <input type="text" id="inputName" name="id" value="{{cattle.cattle_id}}" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label for="inputDescription">Date of Birth</label>
                  <input type="date" id="inputName" name="dob" value="{{ cattle.cattle_date_of_birth|date:'Y-m-d' }}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputProjectLeader">Name</label>
                  <input type="text" id="inputProjectLeader" name="name" value="{{cattle.cattle_name}}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputClientCompany">Gender</label>
                  <select id="inputStatus" name="gender" class="form-control custom-select">
                    <option selected>{{cattle.cattle_gender}}</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
              </div>
  
            </div>
  
          </div>
          <div class="col-md-6">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Others</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="inputName">Estimated Price</label>
                  <input type="text" id="inputName" name="estimated_price" value="{{cattle.estimated_price}}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputStatus">Breed</label>
                  <select id="inputStatus" name="breed" class="form-control custom-select">
                    {% for d in cattle_breed %} 
                        <option value="{{d.cattle_breed_id}}" 
                        {% if d.cattle_breed_id == cattle.cattle_breed_id %} 
                          selected 
                        {% endif %}>
                        {{ d.cattle_breed_type }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputStatus"> Status</label>
                  <select id="inputStatus" name="status" class="form-control custom-select">
                    {% for d in cattle_statuses %} 
                        <option value="{{d.cattle_status_id}}" 
                        {% if d.cattle_status_id == cattle.cattle_status_id %} 
                          selected 
                        {% endif %}>
                        {{ d.cattle_status }}</option>
                    {% endfor %}
                </select>
                
                </div>
              </div>
     
            </div>
    
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="../cattle" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-success float-right" >Update Cattle</button>
          </div>
        </div>
      </form>
      <br>

      
      <button type="button" class="btn btn-success" id="addPhotoBtn">Add Photo</button>
      <br><br>

      <!-- Hidden section for photo form -->
      <div class="card" id="photoFormSection" style="display: none;">
        <div class="card-body">
          <form action="/add_photo" method="post" id="photoForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputStatus">Cattle id</label>
                  <input type="text" id="inputName" name="cattle_id" value="{{cattle.cattle_id}}" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label for="inputPhotoUrl">Photo</label>
                  <input type="file" id="inputPhotoUrl" name="photo_url" class="form-control" required>
                </div> 
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputPhotoDescription">Photo Description</label>
                  <input type="text" id="inputPhotoDescription" name="photo_description" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-success float-right" >Add Photo</button>
              </div>
            </div>
            <br>
          </form>
        </div>
      </div>
      <br>

      <script>
        // JavaScript code
        document.getElementById('addPhotoBtn').addEventListener('click', function() {
          document.getElementById('photoFormSection').style.display = 'block';
        });
      </script>

    </section>
  
  </div>
  
  {% endblock %}