{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .main-photo-container, .product-image-thumb {
    position: relative;
    display: inline-block;
  }
  
  .main-photo-container img, .product-image-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .change-photo-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    text-align: center;
    padding: 5px 0;
    display: none;
    color: white;
  }
  
  .change-photo-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .main-photo-container:hover .change-photo-container,
  .product-image-thumb:hover .change-photo-container {
    display: block;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const changePhotoLinks = document.querySelectorAll('.change-photo-link');

      changePhotoLinks.forEach(link => {
          link.addEventListener('click', function(event) {
              event.preventDefault();
              const photoId = this.getAttribute('data-photo-id');
              const cattleId = this.getAttribute('data-cattle-id');

              document.getElementById('changePhotoId').value = photoId;
              document.getElementById('changeCattleId').value = cattleId;

              $('#changePhotoModal').modal('show');
          });
      });

      $('.main-photo-container, .product-image-thumb').hover(
          function() {
              $(this).find('.change-photo-link').show();
          },
          function() {
              $(this).find('.change-photo-link').hide();
          }
      );
  });
</script>
    

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Cattle Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="../cattle">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">

    <div class="card card-solid">

      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
      </div>
      {% endfor %}
      
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-6">
            <h3 class="d-inline-block d-sm-none">{{cattle.cattle_name}}</h3>

            <div class="col-12">
              {% if photos %}
                <div class="main-photo-container">
                  <img src="{{ photos.0.cattle_photo_url }}" alt="{{ photos.0.cattle_photo_description }}" class="img-fluid">
                  <div class="change-photo-container">
                    <a href="#" class="change-photo-link" data-photo-id="{{ photos.0.cattle_photo_id }}" data-cattle-id="{{ cattle.farm_entity_id }}">Change Photo</a>
                  </div>
                </div>
              {% endif %}
            </div>
            
            <div class="col-12 product-image-thumbs d-flex justify-content-center">
              {% for photo in photos|slice:"1:" %}
                <div class="product-image-thumb">
                  <img src="{{ photo.cattle_photo_url }}" alt="{{ photo.cattle_photo_description }}" class="img-fluid">
                  <div class="change-photo-container">
                    <a href="#" class="change-photo-link" data-photo-id="{{ photo.cattle_photo_id }}" data-cattle-id="{{ cattle.farm_entity_id }}">Change Photo</a>
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="modal fade" id="changePhotoModal" tabindex="-1" role="dialog" aria-labelledby="changePhotoModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="changePhotoModalLabel">Change Photo</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <form action="/change_photo" method="post" id="changePhotoForm" enctype="multipart/form-data">
                              {% csrf_token %}
                              <input type="hidden" name="photo_id" id="changePhotoId">
                              <input type="hidden" name="cattle_id" id="changeCattleId">
                              <div class="form-group">
                                  <label for="changePhotoUrl">New Photo</label>
                                  <input type="file" id="changePhotoUrl" name="photo_url" class="form-control" required>
                              </div>
                              <div class="form-group">
                                  <label for="changePhotoDescription">Photo Description</label>
                                  <input type="text" id="changePhotoDescription" name="photo_description" class="form-control">
                              </div>
                              <button type="submit" class="btn" style="background-color: #007f5c;color: #fff;">Change Photo</button>
                          </form>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <h3 class="my-3">{{cattle.cattle_name}}</h3>
            <h4 class="mt-0">
              <small><strong>Gender:</strong> {{cattle.cattle_gender}} </small>
            </h4>
            {% if cattle.father_id %}
            <h4 class="mt-0">
              <small><strong>Father:</strong> {{cattle.father.cattle_name}} </small>
            </h4>
            {% endif %}
            {% if cattle.mother_id %}
            <h4 class="mt-0">
              <small><strong>Mother:</strong> {{cattle.mother.cattle_name}} </small>
            </h4>
            {% endif %}
            <h4 class="mt-0">
              <small><strong>Date of Birth:</strong> {{cattle.cattle_date_of_birth}} </small>
            </h4>
            {% for breed in breeds %}
              <h4 class="mt-0">
                <small><strong>Breed:</strong> {{breed.cattle_breed_type}} </small>
              </h4>
            {% endfor %}

            {% if statuses %}
              <h4 class="mt-0">
                <small><strong>Pregnancy Status:</strong> {{ statuses.pregnancy_status.pregnancy_status }} </small>
              </h4>
            {% endif %}
            <hr>
            <div class="bg-gray py-2 px-3 mt-4">
              <h2 class="mb-0">
                Estimated Price: {{cattle.estimated_price}}
              </h2>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <nav class="w-100">
            <div class="nav nav-tabs" id="product-tab" role="tablist">
              {% if productions %}
              <a style="color: #007f5c;" class="nav-item nav-link {% if productions %}active{% endif %}" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Last Milk Production</a>
              {% endif %}
              <a style="color: #007f5c;" class="nav-item nav-link {% if not productions %}active{% endif %}" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="{% if not productions %}true{% else %}false{% endif %}">Vaccination</a>
              <a style="color: #007f5c;" class="nav-item nav-link" id="health-tab" data-toggle="tab" href="#health" role="tab" aria-controls="health" aria-selected="false">Health</a>
              <a style="color: #007f5c;" class="nav-item nav-link" id="feed-tab" data-toggle="tab" href="#feed" role="tab" aria-controls="feed" aria-selected="false">Feed</a>
          </div>
          </nav>
          <div class="tab-content p-3 w-100" id="nav-tabContent">
            <div class="tab-pane fade show active overflow-auto" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> 
              {% if productions %}
              <h4 class="mt-0">Latest Milk Productions</h4>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Amount (ltr)</th>
                      <th>Milk Time</th>
                      <th>Fat Content</th>
                      <th>Protein Content</th>
                      <th>Somatic Cell Count</th>
                      <th>Duration (min)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for production in productions %}
                      <tr>
                        <td>{{ production.amount_in_liter }}</td>
                        <td>{{ production.milk_time }}</td>
                        <td>{{ production.fat_content }}</td>
                        <td>{{ production.protein_content }}</td>
                        <td>{{ production.somatic_cell_count }}</td>
                        <td>{{ production.duration_in_min }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endif %}
            </div>
            <div class="tab-pane fade overflow-auto" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> 
              {% if vaccinations %}
                <h4 class="mt-0">Last 5 Vaccinations</h4>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Vaccine Name</th>
                        <th>Vaccination Given Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for vaccination in vaccinations %}
                        <tr>
                          <td>{{ vaccination.vaccine.vaccine_name }}</td>
                          <td>{{ vaccination.cattle_given_time }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane fade overflow-auto" id="health" role="tabpanel" aria-labelledby="health-tab"> 
              {% if healths %}
                <h4 class="mt-0">Last 5 Health Checkups</h4>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Findings</th>
                        <th>Symptoms</th>
                        <th>Medicine</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for health in healths %}
                        <tr>
                          <td>{{ health.findings }}</td>
                          <td>
                            {% if health.healthcheckupsymptoms_set.all %}
                              {% for symptom_entry in health.healthcheckupsymptoms_set.all %}
                                {{ symptom_entry.symptom }},
                              {% endfor %}
                            {% else %}
                              N/A
                            {% endif %}
                          </td>
                          <td>
                            {% if health.cattlehealthcheckuphasmedicine_set.all %}
                              {% for medicine_entry in health.cattlehealthcheckuphasmedicine_set.all %}
                                {{ medicine_entry.medicine.name }},
                              {% endfor %}
                            {% else %}
                              N/A
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}
            </div>
            <div class="tab-pane fade overflow-auto" id="feed" role="tabpanel" aria-labelledby="feed-tab"> 
              {% if feeds %}
                <h4 class="mt-0">Last 5 Feed Informations</h4>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Feed Formulation</th>
                        <th>Feed Time</th>
                        <th>Consumption Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for feed in feeds %}
                        <tr>
                          <td>{{ feed.feed_formulation.name }}</td>
                          <td>{{ feed.feed_time }}</td>
                          <td>{{ feed.consumption_status }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}
            </div>
          </div>
        </div> 

        <div class="row">
          <div class="col-12">
            <a href="../cattle" class="btn btn-secondary">Back</a>
          </div>
        </div>

      </div>
    </div>

  </section>
</div>

{% endblock %}
