{% extends 'base.html' %}


{% block content %}

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Milk Production Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../milk_production">Home</a></li>
              <li class="breadcrumb-item active">Milk Production Edit</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <form action="/milk_production_edit/{{d.milk_production_id}}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header" style="background-color: #007f5c;color: #fff;">
                <h3 class="card-title">Basic Information</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                {% if errors %}
                <div class="alert alert-danger">
                  <ul>
                    {% for error in errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              
                <div class="form-group">
                  <label for="inputName">Cattle</label>
                  {% comment %} <input type="text" id="inputName" name="cattle_id" value="{{d.cattle_id}}" class="form-control"> {% endcomment %}
                  <select id="inputStatus" name="cattle_id" class="form-control custom-select">
                    {% for d in cattles %} 
                      <option value="{{d.farm_entity_id}}" {% if d.farm_entity_id == cattle.cattle_id %} selected {% endif %}>
                        {{ d.cattle_name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputName">Amount in Liter</label>
                  <input type="text" id="inputName" name="amount_in_liter" value="{{d.amount_in_liter}}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="inputName">Milk Time</label>
                  <input type="datetime-local" id="inputName" name="milk_time" value="{{ d.milk_time|date:'Y-m-d' }}T{{ d.milk_time|time:'H:i' }}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="inputName">Duration</label>
                  <input type="text" id="inputName" name="duration_in_min" value="{{d.duration_in_min}}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputName">Fat Content</label>
                  <input type="text" id="inputName" name="fat_content" value="{{d.fat_content}}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputName">Protein Content</label>
                  <input type="text" id="inputName" name="protein_content" value="{{d.protein_content}}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputName">Somatic Cell Count</label>
                  <input type="text" id="inputName" name="somatic_cell_count" value="{{d.somatic_cell_count}}" class="form-control">
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12">
            <a href="../milk_production" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Update Milk Production</button>
          </div>
        </div>
      </form>
      </section>
  
  </div>
  
  {% endblock %}