{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Purchase Order</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="../../purchase_order">Home</a></li>
            <li class="breadcrumb-item active">Purchase Order</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {% comment %} <div class="callout callout-info">
            <h5><i class="fas fa-info"></i> Note:</h5>
            This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
          </div> {% endcomment %}


          <div class="invoice p-3 mb-3">

            <div class="row">
              <div class="col-12">
                <h4>
                  {% for farm in farm_data %}
                  <i class="fas fa-globe"></i> {{farm.full_name}}
                  <small class="float-right">{{ current_date }}</small>
                  {% endfor %}
                </h4>
              </div>
            </div>

            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                From
                {% for farm in farm_data %}
                  <address>
                    <strong>{{farm.nick_name}}</strong><br>
                    {{farm.country}}, {{farm.region.region}}<br>
                    {{farm.zone_subcity}}<br>
                    <strong>Contact:</strong>
                    {% for contact in farmcontacts_data %}
                       {{contact.contact}}<br>
                    {% endfor %}
                  </address>
                {% endfor %}
              </div>
    
              <div class="col-sm-4 invoice-col">
                To
                <address>
                    {% for item in data %}
                        {% ifchanged item.supplier.supplier_name %}
                            <strong>{{ item.supplier.supplier_name }}</strong><br>
                            {% for contact in contact_data %}
                                {% if contact.farm_entity_id == item.supplier.farm_entity_id %}
                                {{ contact.contact }}<br>
                                {% endif %}
                            {% endfor %}
                            {% for address in address_data %}
                                {% if address.farm_entity_id == item.supplier.farm_entity_id %}
                                {{ address.country }}({{ address.region.region }},{{ address.zone_subcity }})<br>
                                {% endif %}
                            {% endfor %} 
                        {% endifchanged %}
                    {% endfor %} 
                </address>
            </div>
            
              <div class="col-sm-4 invoice-col">
                {% for item in data %}
                {% ifchanged item.supplier.supplier_name %}
                <strong> Account:</strong>{{ item.supplier.account_number }}<br>
                {% endifchanged %}
                {% endfor %}
              </div>
            </div>

            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped projects">
                  <thead>
                      <tr>
                          <th style="width: 20%">
                            Supplier Name
                          </th>
                          <th style="width: 20%">
                            Item 
                          </th>
                          <th style="width: 10%">
                            Order 
                          </th>
                          <th style="width: 20%">
                            Price
                          </th>
                          <th style="width: 10%">
                            Quantity
                          </th>
                          <th style="width: 20%">
                            Total
                          </th>
    
                      </tr>
                  </thead>
                  <tbody>
                    {% comment %} {% for d in data %} {% endcomment %}
                    {% for d, multiplied_value in multiplied_values.items %}
                      <tr>
                          <td>
                          {% for supplier in supplier_data %}
                            {% if supplier.farm_entity_id == d.supplier_id %}
                              {{ supplier.supplier_name }}
                            {% endif %}
                          {% endfor %}
                          </td>
                          <td>
                          {% for item in item_data %}
                            {% if item.item_id == d.item_id %}
                              {{ item.name }}
                            {% endif %}
                          {% endfor %}
                          </td>
                          <td>
                            {{d.order_id}}
                          </td>
                          <td>
                            {{d.price}}
                          </td>
                          <td>
                            {{ d.quantity }}
                          </td> 
                          <td>
                          {{ multiplied_value }}
                          </td>
                          
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
              </div>

              <div class="col-6">
                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th style="width:50%">Subtotal:</th>
                      <td>{{ total }}</td>
                    </tr>
                    <tr>
                      <th>Tax (%)</th>
                      <td>{{ total_tax }}</td>
                    </tr>
                    <tr>
                      <th>Discount:</th>
                      <td>{{ total_discount }}</td>
                    </tr>
                    <tr>
                      <th>Extra Charge:</th>
                      <td>{{ total_extra_charges }}</td>
                    </tr>
                    <tr>
                      <th>Total:</th>
                      <td>{{ grand_total }}</td>
                    </tr> 
                    
                  </table>
                </div>
              </div>
            </div>

            <div class="row no-print">
              <div class="col-12">
                <a href="#" id="printButton" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                {% comment %} <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                  Payment
                </button>
                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                  <i class="fas fa-download"></i> Generate PDF
                </button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <a href="../purchase_order" class="btn btn-secondary">Back</a>
        </div>
      </div>

    </div>
  </section>
</div>

<script>
  window.addEventListener("load", function() {
    var printButton = document.getElementById("printButton");
    printButton.addEventListener("click", function(event) {
      event.preventDefault();
      window.print();
    });
  });
</script>

{% endblock %}
