{% extends 'base.html' %}

{% block content %} 

  <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Supplier Type Add</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../supplier_type">Home</a></li>
              <li class="breadcrumb-item active">Supplier Type Add</li>
            </ol>
          </div>
        </div>
      </div>
    </section>


    <section class="content">
    <form action="/supplier_type_add" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header" style="background-color: #007f5c;color: #fff;">
              <h3 class="card-title">Basic Information</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">Supplier Type</label>
                <input type="text" id="inputName" name="supplier_type" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">
          <a href="supplier_type" class="btn btn-secondary">Back</a>
          <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Add Supplier Type</button>
          {% comment %} <input type="submit" value="Add Cattle" class="btn btn-success float-right"> {% endcomment %}
        </div>
      </div>
    </form>
    </section>

  </div>
  
  {% endblock %}

