{% extends 'base.html' %}

{% block content %} 

  <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cattle Sales Add</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../cattle_sales">Home</a></li>
              <li class="breadcrumb-item active">Cattle Sales Add</li>
            </ol>
          </div>
        </div>
      </div>
    </section>


    <section class="content">
    <form action="/cattle_sales_add" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header" style="background-color: #007f5c;color: #fff;">
              <h3 class="card-title">Basic Information</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              {% if errors %}
              <div class="alert alert-danger">
                <ul>
                  {% for error in errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              
              <div class="form-group">
                <label for="cattle_name">Cattle</label>
                <select id="cattle_name" name="cattle_name" class="form-control custom-select" required>
                    <option value="">Select Cattle</option>
                    {% for d in data1 %}
                    <option value="{{ d.farm_entity_id }}">{{ d.cattle_name }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">Customer</label>
                <select id="inputStatus" name="customer_id" class="form-control custom-select" required>
                  {% for d in data2 %}
                  <option value="{{ d.customer_id }}">{{ d.person_farm_entity.first_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">Unit Price</label>
                <input type="text" id="inputName" name="unit_price" class="form-control">
              </div>
                         
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Others</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputDescription">Order Date</label>
                <input type="datetime-local" id="inputName" name="order_date" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Payment Method</label>
                <select id="inputStatus" name="payment_method" class="form-control custom-select">
                  {% for d in data3 %}
                  <option value="{{ d.id }}">{{ d.payment_method }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">Payment Status</label>
                <select id="inputStatus" name="payment_status" class="form-control custom-select">
                    <option selected disabled>Select one</option>
                    <option>Not Paid</option>
                    <option>Fully Paid</option>
                </select>
              </div>            
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">
          <a href="../cattle_sales" class="btn btn-secondary">Back</a>
          <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;"> Add Cattle Sales</button>
        </div>
      </div>
    </form>
    </section>

      {% comment %} <script>
        document.getElementById('item_name').addEventListener('change', function() {
            var itemId = this.value;
            fetch(`/get_item_types/${itemId}/`)
                .then(response => response.json())
                .then(data => {
                    var itemTypeSelect = document.getElementById('item_type');
                    itemTypeSelect.innerHTML = '<option value="">Select item type</option>';
                    data.forEach(itemType => {
                        itemTypeSelect.innerHTML += `<option value="${itemType.id}">${itemType.name}</option>`;
                    });
                });
            fetch(`/get_item_measurements/${itemId}/`)
                .then(response => response.json())
                .then(measurements => {
                    var measurementSelect = document.getElementById('item_measurement_id');
                    measurementSelect.innerHTML = '<option value="">Select measurement</option>';
                    measurements.forEach(measurement => {
                        measurementSelect.innerHTML += `<option value="${measurement.id}">${measurement.name}</option>`;
                    });
                });
        });

        document.getElementById('item_measurement_id').addEventListener('change', function() {
          var itemId = document.getElementById('item_name').value;
          var typeId = document.getElementById('item_type').value;
          var measurementId = this.value;
          if (itemId && typeId && measurementId) {
              fetch(`/get_stock_quantity/${itemId}/${typeId}/${measurementId}/`)
                  .then(response => response.json())
                  .then(data => {
                      var stockQuantityDiv = document.getElementById('stock_quantity');
                      if (data.error) {
                          stockQuantityDiv.innerHTML = `Error: ${data.error}`;
                      } else {
                          stockQuantityDiv.innerHTML = `Available Stock: ${data.quantity}`;
                      }
                  });
          }
      });
      
    </script> {% endcomment %}
  
  {% endblock %}

