{% extends 'base.html' %}


{% block content %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Payment Method Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../payment_method">Home</a></li>
              <li class="breadcrumb-item active">Payment Method Edit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <form action="/payment_method_edit/{{d.id}}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header" style="background-color: #007f5c;color: #fff;">
                <h3 class="card-title">Basic Information</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="inputDescription">Payment Method</label>
                  <input type="text" id="inputName" name="payment_method" value="{{d.payment_method}}" class="form-control" required>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12">
            <a href="../payment_method" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Update Payment Method</button>
          </div>
        </div>
      </form>
      </section>
  
  </div>
  
  {% endblock %}