{% extends 'base.html' %}


{% block content %} 

  <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Sales Order Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../sales_order">Home</a></li>
              <li class="breadcrumb-item active">Sales Order Edit</li>
            </ol>
          </div>
        </div>
      </div>
    </section>


    <section class="content">
    <form action="/sales_order_edit/{{d.id}}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header" style="background-color: #007f5c;color: #fff;">
              <h3 class="card-title">Basic Information</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              {% if errors %}
              <div class="alert alert-danger">
                <ul>
                  {% for error in errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              
              <div class="form-group">
                <label for="item_name">Item</label>
                <input type="text" id="item_name" class="form-control" value="{{ d.stock.item.name }}" readonly>
              </div>
              <div class="form-group">
                  <label for="item_type">Type</label>
                  <input type="text" id="item_type" class="form-control" value="{{ d.stock.type.item_type }}" readonly>
              </div> 
              <div class="form-group">
                <label for="inputName">Customer</label>
                <select id="inputStatus" name="customer_id" class="form-control custom-select" required>
                  {% for data2 in data2 %}
                  <option value="{{ data2.customer_id }}" {% if data2.customer_id == d.customer_id %} selected {% endif %}>
                    {{ data2.person_farm_entity.first_name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputDescription">Quantity</label>
                <input type="text" id="inputName" name="quantity" value="{{d.quantity}}" class="form-control">
              </div>            
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Others</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputDescription">Order Date</label>
                <input type="datetime-local" id="inputName" name="order_date" value="{{d.order_date}}" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Unit Price</label>
                <input type="text" id="inputName" name="unit_price" value="{{d.unit_price}}" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Payment Method</label>
                <select id="inputStatus" name="payment_method" class="form-control custom-select">
                  {% for data3 in data3 %}
                  <option value="{{ data3.id }}" {% if data3.id == d.payment_method_id %} selected {% endif %}>
                    {{ data3.payment_method }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="inputName">Payment Status</label>
                <select id="inputStatus" name="payment_status" class="form-control custom-select">
                  <option selected>{{d.payment_status}}</option>
                    <option>Not Paid</option>
                    <option>Partially Paid</option>
                    <option>Fully Paid</option>
                </select>
              </div>            
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">
          <a href="../sales_order" class="btn btn-secondary">Back</a>
          <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;"> Update Sales Order</button>
        </div>
      </div>
    </form>
    </section>

  </div>
  
  {% endblock %}

