{% extends 'base.html' %}

{% block content %}

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Feed Formulation Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../feed_formulation">Home</a></li>
              <li class="breadcrumb-item active">Feed Formulation Edit</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <form action="/feed_formulation_edit/{{d.id}}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header" style="background-color: #007f5c;color: #fff;">
                <h3 class="card-title">Basic Information</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                {% if errors %}
                <div class="alert alert-danger">
                  <ul>
                    {% for error in errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              
                  <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" id="inputName" name="name" value="{{d.name}}" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label for="inputName">Start Age(weeks)</label>
                    <input type="text" id="inputName" name="start_age_in_weeks" value="{{d.start_age_in_weeks}}" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label for="inputName">End Age(Weeks)</label>
                    <input type="text" id="inputName" name="end_age_in_weeks" value="{{d.end_age_in_weeks}}" class="form-control" required>
                  </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <a href="../feed_formulation" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Update Feed Formulation</button>
          </div>
        </div>
      </form>
      </section>
  
  </div>
  
  {% endblock %}