{% extends 'base.html' %}


{% block content %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Employee Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../../employee">Home</a></li>
              <li class="breadcrumb-item active">Employee Edit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <form action="/employee_edit/{{ farm_entity_id }}/" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header" style="background-color: #007f5c;color: #fff;">
                <h3 class="card-title">Basic Information</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
              {% if errors %}
              <div class="alert alert-danger">
                <ul>
                  {% for error in errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

                <div class="form-group">
                      <label for="inputStatus">Title</label>
                      <select id="inputStatus" name="title" class="form-control custom-select">
                        {% for d in data2 %} 
                            <option value="{{d.person_title_id}}" 
                            {% if d.person_title_id == person.person_title_id %} selected {% endif %}>
                            {{ d.person_title }}
                            </option>
                        {% endfor %}
                        </select>
                </div>
                <div class="form-group">
                  <label for="inputName">First Name</label>
                  <input type="text" id="inputName" name="fname" value="{{person.first_name}}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="inputName">Middle Name</label>
                  <input type="text" id="inputName" name="mname" value="{{person.middle_name}}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="inputName">Last Name</label>
                  <input type="text" id="inputName" name="lname" value="{{person.last_name}}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputDescription">Date of Birth</label>
                  <input type="date" id="inputName" name="dob" value="{{ person.date_of_birth|date:'Y-m-d' }}" class="form-control">
                </div>
                {% comment %} <div class="form-group">
                  <label for="inputName">Marital Status</label>
                  <select id="inputStatus" name="marital_status" class="form-control custom-select">
                      <option selected disabled>{{person.marital_status}}</option>
                      <option>Married</option>
                      <option>Single</option>
                    </select>
                </div> {% endcomment %}
                <div class="form-group">
                  <label for="inputName">Marital Status</label>
                  <select id="inputStatus" name="marital_status" class="form-control custom-select">
                      <option disabled>Select Marital Status</option>
                      <option value="Married" {% if person.marital_status == 'Married' %} selected {% endif %}>Married</option>
                      <option value="Single" {% if person.marital_status == 'Single' %} selected {% endif %}>Single</option>
                  </select>
              </div>
              
              <div class="form-group">
                <label for="inputClientCompany">Gender</label>
                <select id="inputStatus" name="gender" class="form-control custom-select" required>
                    <option disabled>Select Gender</option>
                    <option value="Male" {% if person.gender == 'Male' %} selected {% endif %}>Male</option>
                    <option value="Female" {% if person.gender == 'Female' %} selected {% endif %}>Female</option>
                </select>
            </div>
            
                <div class="form-group">
                  <label for="inputStatus">Employee Type</label>
                  <select id="inputStatus" name="type" class="form-control custom-select">
                    {% for d in data3 %}
                    <option value="{{d.person_type_id}}">{{ d.person_type}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
  
            </div>
  
          </div>
          <div class="col-md-6">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Others</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
  
              <div class="card-body">
                  <div class="form-group">
                      <label for="inputStatus">Department</label>
                      <select id="inputStatus" name="department" class="form-control custom-select">
                      {% for d in data5 %} 
                        <option value="{{d.department_id}}" 
                        {% if d.department_id == employee.department_id %} selected {% endif %}>
                        {{ d.department_name }}
                        </option>
                      {% endfor %}
                      </select>
                      
                  </div>
                  <div class="form-group">
                      <label for="inputName">Salary</label>
                      <input type="text" id="inputName" name="salary" value="{{employee.salary}}" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="inputName">Hire Date</label>
                      <input type="date" id="inputName" name="hire_date" value="{{ employee.hire_date|date:'Y-m-d' }}"  class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="inputName">National Id</label>
                      <input type="text" id="inputName" name="national_id" value="{{employee.national_id}}"  class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="inputName">Contract Type</label>
                    <select id="inputStatus" name="contract_type" class="form-control custom-select">
                        <option disabled>Select Contract Type</option>
                        <option value="Permanent" {% if employee.contract_type == 'Permanent' %} selected {% endif %}>Permanent</option>
                        <option value="Contractual" {% if employee.contract_type == 'Contractual' %} selected {% endif %}>Contractual</option>
                    </select>
                </div>
                
                  <div class="form-group">
                      <label for="inputDescription">Contract Period(In month)</label>
                      <input type="text" id="inputName" name="contract_period" value="{{employee.contract_period_in_month}}"  class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="inputStatus">Job </label>
                      <select id="inputStatus" name="job" class="form-control custom-select">
                       {% for d in data4 %} 
                            <option value="{{d.job_id}}" 
                            {% if d.job_id == employee.job_id %} selected {% endif %}>
                            {{ d.job_title }}
                            </option>
                        {% endfor %}
                      </select>
                  </div>
              </div>

            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12">
            <a href="../../employee" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Update Employee</button>
          </div>
        </div>
      </form>
      <br>

        <button type="button" class="btn btn-primary mr-3" id="addcontactBtn">Add Contact</button>
        <button type="button" class="btn btn-success mr-3" id="addaddressBtn">Add Address</button>
        <button type="button" class="btn btn-info mr-3" id="addexperienceBtn">Add Experience</button>
        <button type="button" class="btn btn-warning mr-3" id="addguaranteeBtn">Add Guarantee</button>
        <button type="button" class="btn btn-dark" id="addjobhistoryBtn">Add Job history</button>

      <br><br>

      <!-- Hidden section for contact form -->
      <div class="card" id="contactFormSection" style="display: none;">
        <div class="card-body">
            <form action="/add_contact" method="post" id="contactForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputStatus">Employee</label>
                            <input type="text" id="inputName" name="employee_id" value="{{person.farm_entity_id}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Contact Type</label>
                            <select id="inputStatus" name="contact_type" class="form-control custom-select" >
                              {% for d in data6 %}
                              <option value="{{ d.contact_id }}">{{ d.contact_type }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputPhotoDescription">Contact</label>
                            <input type="text" id="inputPhotoDescription" name="contact" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Add Contact</button>
                  </div>
                </div>
                <br>
            </form>
        </div>
      </div>

      <!-- Hidden section for Address form -->
      <div class="card" id="addressFormSection" style="display: none;">
        <div class="card-body">
            <form action="/add_address" method="post" id="addressForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputStatus">Employee</label>
                            <input type="text" id="inputName" name="employee_id" value="{{person.farm_entity_id}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Region</label>
                            <select id="inputStatus" name="region" class="form-control custom-select">
                                {% for d in data7 %}
                                    <option value="{{ d.region_id }}">{{ d.region }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Woreda</label>
                            <input type="text" id="inputPhotoDescription" name="woreda" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">House No</label>
                            <input type="text" id="inputPhotoDescription" name="house_no" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputPhotoDescription">Country</label>
                            <input type="text" id="inputPhotoDescription" name="country" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Zone/Subcity</label>
                            <input type="text" id="inputPhotoDescription" name="zone_subcity" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Kebele</label>
                            <input type="text" id="inputPhotoDescription" name="kebele" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Street Name</label>
                            <input type="text" id="inputPhotoDescription" name="street" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Add Address</button>
                  </div>
                </div>
                <br>
            </form>
        </div>
      </div>
    
      <!-- Hidden section for Experience form -->
      <div class="card" id="experienceFormSection" style="display: none;">
        <div class="card-body">
          
            <form action="/add_experience" method="post" id="experienceForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputStatus">Employee</label>
                            <input type="text" id="inputName" name="employee_id" value="{{person.farm_entity_id}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Start Date</label>
                            <input type="date" id="inputPhotoDescription" name="start_date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">End Date</label>
                            <input type="date" id="inputPhotoDescription" name="end_date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputPhotoDescription">Company</label>
                            <input type="text" id="inputPhotoDescription" name="company" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Title</label>
                            <input type="text" id="inputPhotoDescription" name="title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Salary</label>
                            <input type="number" id="inputPhotoDescription" name="salary" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Add Experience</button>
                  </div>
                </div>
                <br>
            </form>
        </div>
      </div>

      <!-- Hidden section for guarantee form -->
      <div class="card" id="guaranteeFormSection" style="display: none;">
        <div class="card-body">
            <form action="/add_guarantee" method="post" id="guaranteeForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputStatus">Employee</label>
                            <input type="text" id="inputName" name="employee_id" value="{{person.farm_entity_id}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                          <label for="inputPhotoDescription">Name</label>
                          <input type="text" id="inputPhotoDescription" name="name" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPhotoDescription">Salary</label>
                          <input type="number" id="inputPhotoDescription" name="salary_evaluation" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputPhotoDescription">Guarantee Type</label>
                            <select id="inputStatus" name="guarantee_type" class="form-control custom-select">
                                {% for d in data9 %}
                                <option value="{{ d.guarantee_type_id }}">{{ d.guarantee_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Add Guarantee</button>
                  </div>
                </div>
                <br>
            </form>
        </div>
      </div>

            <!-- Hidden section for jobhistory form -->
            <div class="card" id="jobhistoryFormSection" style="display: none;">
              <div class="card-body">
                  <form action="/add_jobhistory" method="post" id="jobhistoryForm" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputStatus">Employee</label>
                                <input type="text" id="inputName" name="employee_id" value="{{person.farm_entity_id}}" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                              <label for="job_id">Job</label>
                              <select id="job_id" name="job_id" class="form-control custom-select">
                                  {% for d in data4 %}
                                      <option value="{{ d.job_id }}">{{ d.job_title }}</option>
                                  {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                                <label for="department_id">Department</label>
                                <select id="department_id" name="department_id" class="form-control custom-select">
                                    {% for d in data5 %}
                                        <option value="{{ d.department_id }}">{{ d.department_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                              <label for="salary">Salary</label>
                              <input type="number" id="salary" name="salary" class="form-control" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                <label for="start_date">Start Date</label>
                                <input type="date" id="start_date" name="start_date" class="form-control" >
                              </div>
                              <div class="form-group">
                                  <label for="end_date">End Date</label>
                                  <input type="date" id="end_date" name="end_date" class="form-control">
                              </div>
                              <div class="form-group">
                                <label for="promotion_or_demotion">Promotion or Demotion</label>
                                <input type="text" id="promotion_or_demotion" name="promotion_or_demotion" class="form-control">
                            </div>
            
                            
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Add Job history</button>
                        </div>
                      </div>
                      <br>
                  </form>
              </div>
            </div>
    </section>
  
  </div>

  
<script>

  document.getElementById('addcontactBtn').addEventListener('click', function() {
    document.getElementById('contactFormSection').style.display = 'block';
    document.getElementById('addressFormSection').style.display = 'none';
    document.getElementById('experienceFormSection').style.display = 'none';
    document.getElementById('guaranteeFormSection').style.display = 'none';
    document.getElementById('jobhistoryFormSection').style.display = 'none';
  });

  document.getElementById('addaddressBtn').addEventListener('click', function() {
    document.getElementById('contactFormSection').style.display = 'none';
    document.getElementById('addressFormSection').style.display = 'block';
    document.getElementById('experienceFormSection').style.display = 'none';
    document.getElementById('guaranteeFormSection').style.display = 'none';
    document.getElementById('jobhistoryFormSection').style.display = 'none';
  });

  document.getElementById('addexperienceBtn').addEventListener('click', function() {
    document.getElementById('contactFormSection').style.display = 'none';
    document.getElementById('addressFormSection').style.display = 'none';
    document.getElementById('experienceFormSection').style.display = 'block';
    document.getElementById('guaranteeFormSection').style.display = 'none';
    document.getElementById('jobhistoryFormSection').style.display = 'none';
  });

  document.getElementById('addguaranteeBtn').addEventListener('click', function() {
    document.getElementById('contactFormSection').style.display = 'none';
    document.getElementById('addressFormSection').style.display = 'none';
    document.getElementById('experienceFormSection').style.display = 'none';
    document.getElementById('guaranteeFormSection').style.display = 'block';
    document.getElementById('jobhistoryFormSection').style.display = 'none';
  });

  document.getElementById('addjobhistoryBtn').addEventListener('click', function() {
    document.getElementById('contactFormSection').style.display = 'none';
    document.getElementById('addressFormSection').style.display = 'none';
    document.getElementById('experienceFormSection').style.display = 'none';
    document.getElementById('guaranteeFormSection').style.display = 'none';
    document.getElementById('jobhistoryFormSection').style.display = 'block';
  });
</script>


  
  {% endblock %}