{% extends 'base.html' %}

{% block content %}

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Leave Request Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../leave">Home</a></li>
              <li class="breadcrumb-item active">Request Leave Edit</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <form action="/leave_edit/{{d.leave_id}}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header" style="background-color: #007f5c;color: #fff;">
                <h3 class="card-title">Basic Information</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="inputName">Start date</label>
                  <input type="datetime-local" id="inputName" name="start_date" value="{{ d.start_date|date:'Y-m-d' }}T{{ d.start_date|time:'H:i' }}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="inputDescription">End date</label>
                  <input type="datetime-local" id="inputName" name="end_date" value="{{ d.end_date|date:'Y-m-d' }}T{{ d.end_date|time:'H:i' }}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="inputDescription">Reason</label>
                  <input type="text" id="inputName" name="reason" value="{{d.reason}}"  class="form-control" required>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12">
            <a href="../leave" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Update Request Leave</button>
          </div>
        </div>
      </form>
      </section>
  
  </div>
  
  {% endblock %}