{% extends 'base.html' %}


{% block content %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Shift Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../shift">Home</a></li>
              <li class="breadcrumb-item active">Shift Edit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <form action="/shift_edit/{{d.id}}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header" style="background-color: #007f5c;color: #fff;">
                <h3 class="card-title">Basic Information</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                {% if errors %}
                <div class="alert alert-danger">
                  <ul>
                    {% for error in errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

                <div class="form-group">
                  <label for="inputName">Shift</label>
                  <input type="text" id="inputName" name="shift_name" value="{{ d.shift_name }}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="inputName">Start Time</label>
                  <input type="datetime-local" id="inputName" name="shift_start_time" value="{{ d.shift_start_time|date:'Y-m-d' }}T{{ d.shift_start_time|time:'H:i' }}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputName">End Time</label>
                  <input type="datetime-local" id="inputName" name="shift_end_time" value="{{ d.shift_end_time|date:'Y-m-d' }}T{{ d.shift_end_time|time:'H:i' }}" class="form-control">
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12">
            <a href="../shift" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Update Shift</button>
          </div>
        </div>
      </form>
      </section>
  
  </div>
  
  {% endblock %}