{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Manage Farm</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="../farm">Home</a></li>
            <li class="breadcrumb-item active">Manage Farm</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
  </div>
  {% endfor %}

  <section class="content">
    <form action="/farm/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header" style="background-color: #007f5c;color: #fff;">
              <h3 class="card-title">Basic Information</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputDescription">Farm Name</label>
                <input type="text" id="inputName" name="full_name" value="{{ latest_farm.full_name }}" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="inputDescription">Nick Name</label>
                <input type="text" id="inputName" name="nick_name" value="{{ latest_farm.nick_name }}" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputLogo">Farm Logo</label>
                <input type="file" id="inputLogo" name="logo_photo" accept="image/*">
              </div>
              <div class="form-group">
                <label for="inputDescription">Country</label>
                <input type="text" id="inputName" name="country" value="{{ latest_farm.country }}" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputDescription">Region</label>
                <select id="inputStatus" name="region_id" class="form-control custom-select">
                    {% for d in data1 %}
                        <option value="{{ d.region_id }}" {% if d.region_id == latest_farm.region_id %} selected {% endif %}>
                          {{ d.region}}</option>
                    {% endfor %}
                    </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Others</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="inputDescription">House Number</label>
                  <input type="text" id="inputName" name="house_number" value="{{ latest_farm.house_number }}" class="form-control" >
                </div>
                <div class="form-group">
                  <label for="inputDescription">Kebele</label>
                  <input type="text" id="inputName" name="kebele" value="{{ latest_farm.kebele }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputDescription">Woreda</label>
                    <input type="text" id="inputName" name="woreda" value="{{ latest_farm.woreda }}" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Zone/Subcity</label>
                    <input type="text" id="inputName" name="zone_subcity" value="{{ latest_farm.zone_subcity }}" class="form-control">
                  </div>
              </div>
            </div>
          </div>


      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Save</button>
        </div>
      </div>
    </form>
  </section>
  <br><br>

  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Manage Farm Contact</h3>
        <div class="card-tools">
          <a class="btn" href="../farm_contact_add" style="background-color: #007f5c;color: #fff;">
            <i class="fas fa-plus"></i>
            Add New
          </a>
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
    </div>

    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped projects">
          <thead>
            <tr>
              <th style="width: 10%">Id</th>
              <th style="width: 30%">Contact Type</th>
              <th style="width: 30%">Contact</th>
              <th style="width: 30%">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in farm_contacts %}
            <tr>
              <td>{{ contact.id }}</td>
              <td>{{ contact.contact_type_id }}</td>
              <td>{{ contact.contact }}</td>
              <td class="project-actions">
                <a class="btn btn-info btn-sm" href="/farm_contact_edit/{{ contact.id }}/">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a class="btn btn-danger btn-sm" href="#" onclick="confirmDelete('{{ contact.id }}')">
                  <i class="fas fa-trash"></i>
                </a>
                <script>
                  function confirmDelete(contactId) {
                    if (confirm("Are you sure you want to delete this Farm Contact?")) {
                      window.location.href = "/farm_contact_delete/" + contactId;
                    }
                  }
                </script>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
</div>

{% endblock %}

