{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      </div>
    {% endfor %} 

    <section class="content">
      <div class="container-fluid">
        {% if request.user|has_permission:"erp.view_admindashboard" or request.user|has_permission:"erp.view_storeclerkdashboard" or request.user|has_permission:"erp.view_laboremployeedashboard" %}
        {% if request.user|has_permission:"erp.view_admindashboard" or request.user|has_permission:"erp.view_storeclerkdashboard" or request.user|has_permission:"erp.view_dataentryclerkdashboard" %}
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <a href="../../purchase_order" style="text-decoration: none; color: inherit;">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-coins"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{dash1.description}}</span>
                  <span class="info-box-number">
                    {{dash1.amount}}
                  </span>
                </div>
              </div>
            </a>
          </div>
     
          <div class="col-12 col-sm-6 col-md-3">
            <a href="../../stock" style="text-decoration: none; color: inherit;">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-shopping-cart"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{dash2.description}}</span>
                  <span class="info-box-number">{{dash2.amount}}</span>
                </div>
              </div>
            </a>
          </div>
         
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <a href="../../sales-order" style="text-decoration: none; color: inherit;">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-lightbulb"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{dash3.description}}</span>
                  <span class="info-box-number">{{dash3.amount}}</span>
                </div>
              </div>
            </a>
          </div>
       
          {% if request.user|has_permission:"erp.view_admindashboard" or request.user|has_permission:"erp.view_dataentryclerkdashboard" %}
          <div class="col-12 col-sm-6 col-md-3">
            <a href="../../user" style="text-decoration: none; color: inherit;">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{dash4.description}}</span>
                  <span class="info-box-number">{{dash4.amount}}</span>
                </div>
              </div>
            </a>
          </div>
          {% endif %}
        </div>
        {% endif %}

        <div class="row">
          <div class="col-lg-6 col-md-12">
            {% if request.user|has_permission:"erp.view_admindashboard" or request.user|has_permission:"erp.view_dataentryclerkdashboard"  %}
            <div> <canvas id="myChart"></canvas> </div>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                  const ctx = document.getElementById('myChart').getContext('2d');
                  const chartData = JSON.parse('{{ chart_data_json|escapejs }}');
                  
                  new Chart(ctx, {
                      type: 'line',
                      data: chartData,
                      options: {
                          scales: {
                              y: {
                                  beginAtZero: true
                              }
                          }
                      }
                  });
              });
            </script>
            {% endif %}

            {% if request.user|has_permission:"erp.view_storeclerkdashboard" %}
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Recently Added Items</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
           
              <div class="card-body p-0">
                <ul class="products-list product-list-in-card pr-2">
                {% for d in stocks %}
                  <li class="item">
                    <div class="product-info">
                      <a href="../../stock" class="product-title">{{d.item.name}}
                        <span class="badge badge-warning float-right">{{d.quantity}}</span></a>
                      <span class="product-description">
                        {{d.type.item_type}}
                      </span>
                    </div>
                  </li>
                {% endfor %}
                </ul>
              </div>  
           
              <div class="card-footer text-center">
                <a href="stock" class="uppercase">View All</a>
              </div>
       
            </div>
            {% endif %}

          </div>
          {% if not request.user|has_permission:"erp.view_laboremployeedashboard" %}
          <div class="col-lg-6 col-md-12">
            <div> <canvas id="myChart2"></canvas> </div>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                  const ctx = document.getElementById('myChart2').getContext('2d');
                  const chartData2 = JSON.parse('{{ chart_data_json2|escapejs }}');
                  
                  new Chart(ctx, {
                      type: 'bar',
                      data: chartData2,
                      options: {
                          scales: {
                              y: {
                                  beginAtZero: true
                              }
                          }
                      }
                  });
              });
            </script>
          </div>
          {% endif %}
        </div>
    
        <br><br>
        {% endif %}

        <div class="row">
          {% if request.user|has_permission:"erp.view_dataentryclerkdashboard" %}
          <div class="col-lg-4 col-md-12">
            <a href="../../supplier" style="text-decoration: none; color: inherit;">
              <div class="info-box mb-3 bg-warning">
                <span class="info-box-icon"><i class="fas fa-user-tie"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{dash5.description}}</span>
                  <span class="info-box-number">{{dash5.amount}}</span>
                </div>
              </div>
            </a>
          
            <a href="../../employee" style="text-decoration: none; color: inherit;">
              <div class="info-box mb-3 bg-success">
                <span class="info-box-icon"><i class="fas fa-users"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{dash6.description}}</span>
                  <span class="info-box-number">{{dash6.amount}}</span>
                </div>
              </div>
            </a>
        
            <a href="../../customer" style="text-decoration: none; color: inherit;">
              <div class="info-box mb-3 bg-danger">
                <span class="info-box-icon"><i class="fas fa-user-alt"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{dash7.description}}</span>
                  <span class="info-box-number">{{dash7.amount}}</span>
                </div>
              </div>
            </a>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Recently Added Cattles</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
           
              <div class="card-body p-0">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                {% for d in cattle %}
                  <li class="item">
                    <a href="cattle_view/{{ d.farm_entity_id }}" style="text-decoration: none; color: inherit;">
                      <div class="product-img">
                        {% if cattle_photos.d.farm_entity_id %}
                            <img src="{{ cattle_photos.d.farm_entity_id }}" alt="Cattle Photo" class="img-size-50">
                        {% else %}
                            <img src="{% static 'dist/img/dairy1.jpg' %}" class="img-size-50">
                        {% endif %}
                      </div>
    
                      <div class="product-info">
                        <a href="cattle_view/{{ d.farm_entity_id }}" class="product-title">{{d.cattle_name}}
                          <span class="badge badge-warning float-right">{{d.estimated_price}}</span></a>
                        <span class="product-description">
                          {{d.cattle_breed.cattle_breed_type}}
                        </span>
                      </div>
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </div>  
           
              <div class="card-footer text-center">
                <a href="cattle" class="uppercase">View All Cattles</a>
              </div>
       
            </div>
          </div>
          {% endif %}

          {% if request.user|has_permission:"erp.view_admindashboard" %}
          <div class="col-lg-4 col-md-12">
            <h3 class="card-title">Vaccinated Vs Non-Vaccinated Cattles</h3>
            <br><br>
            <div><canvas id="vaccinationChart"></canvas></div>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                const ctx = document.getElementById('vaccinationChart').getContext('2d');
                const chartData = JSON.parse('{{ chart_data_json3|escapejs }}');
    
                new Chart(ctx, {
                    type: 'pie',
                    data: chartData
                });
            });
            </script>
          </div>
          {% endif %}

          <div class="col-lg-8 col-md-12">
            {% if request.user|has_permission:"erp.view_admindashboard" or request.user|has_permission:"erp.view_storeclerkdashboard" %}
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Latest Orders</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
       
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Item</th>
                      <th>Status</th>
                      <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for d in data1 %}
                      <tr>
                        <td>
                          {{d.id}}
                        </td>
                        <td>
                          {% for item in item_data %}
                            {% if item.item_id == d.item_id %}
                              {{ item.name }}
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td>
                          <span class="badge {% for orderdata in orderdatas %}{% if orderdata.order_id == d.order_id %}{% if orderdata.request_approved == 'Approved' %}badge-success{% elif orderdata.request_approved == 'Pending' %}badge-warning{% elif orderdata.request_approved == 'Rejected' %}badge-danger{% endif %}{% endif %}{% endfor %}">
                            {% for orderdata in orderdatas %}
                            {% if orderdata.order_id == d.order_id %}
                            {{ orderdata.request_approved }}
                            {% endif %}
                            {% endfor %}
                        </span>
                        </td>
                        <td>
                          {{d.quantity}}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
             
              <div class="card-footer clearfix">
                <a href="request_order" class="btn btn-sm btn-secondary float-right">View All Orders</a>
              </div>
            </div>
            {% endif %}

            {% if request.user|has_permission:"erp.view_dataentryclerkdashboard" %}
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Employees</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
       
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Middle Name</th>
                      <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for d in employeedatas %}
                      <tr>
                        <td>
                          {{d.farm_entity_id}}
                        </td>
                        <td>
                        {{ d.first_name}}
                        </td>
                        <td>
                          {{ d.middle_name}}
                        </td>
                        <td>
                          {{d.gender}}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
             
              <div class="card-footer clearfix">
                <a href="employee" class="btn btn-sm btn-secondary float-right">View All Employees</a>
              </div>
            </div>
            {% endif %}

            {% comment %} {% if request.user|has_permission:"erp.view_admindashboard" %}
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Recent Health Checks</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
       
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Cattle</th>
                      <th>Findings</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for d in healthdatas %}
                      <tr>
                        <td>
                          {{d.id}}
                        </td>
                        <td>
                        {{ d.cattle.cattle_name}}
                        </td>
                        <td>
                          {{ d.findings}}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
             
              <div class="card-footer clearfix">
                <a href="cattle_health_checkup" class="btn btn-sm btn-secondary float-right">View All Checkups</a>
              </div>
            </div>
            {% endif %} {% endcomment %}

            {% if request.user|has_permission:"erp.view_laboremployeedashboard" %}
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Tasks Assigned</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
       
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Task</th>
                      <th>Shift</th>
                      <th>Due Time</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for d in task %}
                      <tr>
                        <td>
                          {{d.id}}
                        </td>
                        <td>
                          {{d.task.task_name}}
                        </td>
                        <td>
                          {{d.shift.shift_name}}
                        </td>
                        <td>
                          {{d.due_time}}
                        </td>
                        <td>
                          <span class="badge {% if d.status == 'Completed' %}badge-success{% elif d.status == 'On Progress' %}badge-warning {% endif %}">
                            {{ d.status }}
                          </span>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
             
              <div class="card-footer clearfix">
                <a href="assign_task" class="btn btn-sm btn-secondary float-right">View All</a>
              </div>
            </div>

            {% endif %}
          </div>

          {% if request.user|has_permission:"erp.view_laboremployeedashboard" %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Recently Added Leave</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
           
              <div class="card-body p-0">
                <a href="cattle_view/{{ d.farm_entity_id }}" style="text-decoration: none; color: inherit;">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                {% for d in leave %}
                  <li class="item">
                    <div class="product-info">
                      <a href="../../leave" class="product-title">{{d.reason}}
                        <span class="badge badge-warning float-right">{{d.approval_status}}</span></a>
                      <span class="product-description">
                        {{d.start_date}} -  {{d.end_date}}
                      </span>
                    </div>
                  </li>
                {% endfor %}
                </ul>
              </a>
              </div>  
           
              <div class="card-footer text-center">
                <a href="leave" class="uppercase">View All request</a>
              </div>
       
            </div>
          </div>
          {% endif %}
        </div>

        {% if request.user|has_permission:"erp.view_admindashboard" %}
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Profit and Loss for Year {{ current_year }}</h3>
              </div>

              <div><canvas id="incomeExpenseChart"></canvas></div>
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var months = {{ months|safe }};
                    var incomesData = {{ incomes_data|safe }};
                    var expensesData = {{ expenses_data|safe }};

                    var ctx = document.getElementById('incomeExpenseChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: months,
                            datasets: [{
                                label: 'Income',
                                data: incomesData,
                                backgroundColor: 'rgba(0, 127, 92, 0.2)',
                                borderColor: 'rgba(0, 127, 92, 1)',
                                borderWidth: 1
                            }, {
                                label: 'Expense',
                                data: expensesData,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    title: {
                                        display: true,
                                        text: 'Amount ($)'
                                    }
                                },
                                x: {
                                    title: {
                                        display: true,
                                        text: 'Months'
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    display: true,
                                    position: 'top'
                                },
                                title: {
                                    display: true,
                                    text: 'Income and Expense Comparison'
                                }
                            }
                        }
                    });
                });
              </script>
            </div>
          </div> 
        </div>
        {% endif %}

        {% if request.user|has_permission:"erp.view_laboremployeedashboard" %}
        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Feed Formulations</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
   
          <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Formulation ID</th>
                            <th>Name</th>
                            <th>Start Age (weeks)</th>
                            <th>End Age (weeks)</th>
                            <th>Ingredients</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formulation in formulations %}
                        <tr>
                            <td>{{ formulation.id }}</td>
                            <td>{{ formulation.name }}</td>
                            <td>{{ formulation.start_age_in_weeks }}</td>
                            <td>{{ formulation.end_age_in_weeks }}</td>
                            <td>
                                <ul>
                                    {% for ingredient in ingredients %}
                                        {% if ingredient.feed_formulation_id == formulation.id %}
                                            <li>{{ ingredient.item.name }}: {{ ingredient.quantity }} {{ ingredient.item_measurement.name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
         
          <div class="card-footer clearfix">
            <a href="feed_formulation" class="btn btn-sm btn-secondary float-right">View All Formulations</a>
          </div>
        </div>
        {% endif %}

      </div>
    </section>

    <div id="notifications" style="display:none;">
    {% if request.user|has_permission:"erp.view_admindashboard" %}
      {% if overdue_cattle %}
        <div id="overdue-cattle-notification">
            {% for cattle in overdue_cattle %}
                {{ cattle.name }} - Last Vaccination: {{ cattle.last_vaccination }}<br>
            {% endfor %}
        </div>
      {% endif %}
    {% endif %}

    {% if request.user|has_permission:"erp.view_storeclerkdashboard" or request.user|has_permission:"erp.view_admindashboard" %}
      {% if low_quantity_items %}
        <div id="low-quantity-items-notification">
          {% for item in low_quantity_items %}
              {{ item.item.name }} - Quantity: {{ item.quantity }}<br>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}

    {% if request.user|has_permission:"erp.view_laboremployeedashboard" %}
      {% if assigned_tasks %}
        <div id="task-assignment-notifications" style="display:none;">
            {% for task_assignment in assigned_tasks %}
                  {{ task_assignment.task.task_name }} - Due Time: {{ task_assignment.due_time }}<br>
              {% endfor %}
        </div>
      {% endif %}
    {% endif %}

    {% if request.user|has_permission:"erp.view_admindashboard" %}
      {% if pending_orders or pending_leave_requests or pending_stockout_requests or pending_ordersuppliers %}
          <div id="approval-notifications" style="display:none;">
              {% comment %} {% for leave_request in pending_leave_requests %}
                  {{ leave_request.leave_id }} - Due Time: {{ leave_request.start_date }}<br>
              {% endfor %} {% endcomment %}
              {% if pending_leave_requests %}
              There is Pending <Strong>Leave request</Strong>
              {% endif %}
              {% if pending_orders %}
              There is Pending <Strong>Order request</Strong>
              {% endif %}
              {% if pending_ordersuppliers %}
              There is Pending <Strong>Item Supplier request</Strong>
              {% endif %}
              {% if pending_stockout_requests %}
              There is Pending <Strong>Stockout request</Strong>
              {% endif %}
              {% if pending_stockin_requests %}
              There is Pending <Strong>Stockin request</Strong>
              {% endif %}
          </div>
      {% endif %}
    {% endif %}
    </div>

    <style>

    .toast-title {
        color: black !important;
    }

    .toast-message {
        color: black !important;
    }

    .toast-close-button {
        color: black !important;
    }
  </style>

    <script>
      $(document).ready(function() {
        var overdueCattleNotification = $('#overdue-cattle-notification').html();
        if (overdueCattleNotification) {
            toastr.warning(overdueCattleNotification, '<span class="toast-title">Alert</span>', {
                timeOut: 5000,
                extendedTimeOut: 3000,
                closeButton: true,
                progressBar: true
            });
        }
    
        var lowQuantityItemsNotification = $('#low-quantity-items-notification').html();
        if (lowQuantityItemsNotification) {
            toastr.warning(lowQuantityItemsNotification, 'Alert', {
                timeOut: 5000,
                extendedTimeOut: 3000,
                closeButton: true,
                progressBar: true
            });
        }

        var taskAssignmentNotifications = $('#task-assignment-notifications').html();
        if (taskAssignmentNotifications) {
            toastr.warning(taskAssignmentNotifications, 'Tasks Assigned', {
                timeOut: 5000,
                extendedTimeOut: 3000,
                closeButton: true,
                progressBar: true
            });
        }

        var approvalNotifications = $('#approval-notifications').html();
            if (approvalNotifications) {
                toastr.warning(approvalNotifications, 'Pending Approvals', {
                    timeOut: 5000,
                    extendedTimeOut: 3000,
                    closeButton: true,
                    progressBar: true
                });
            }
    });
    </script>


</div> 

{% endblock %}

