{% extends 'base.html' %}

{% block content %} 
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create Roles</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Create Roles</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <form action="/create_group" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="background-color: #007f5c;color: #fff;">
                            <h3 class="card-title">Create Roles</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                            </div>
                            {% comment %} <div class="form-group">
                                {{ form.permissions.label_tag }}
                                {{ form.permissions }}
                            </div> {% endcomment %}
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="../../group" class="btn btn-secondary">Back</a>
                    <button type="submit" class="btn float-right" style="background-color: #007f5c;color: #fff;">Create Role</button>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}
