{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Profile</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
            </div>
            {% endfor %}

            <div class="card card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  {% comment %} <img class="profile-user-img img-fluid img-circle" src="{% static 'dist/img/avatar3.png' %}" alt="User profile picture"> {% endcomment %}
                  {% if employee.profile_pic_path %}
                    <img class="profile-user-img img-fluid img-circle" src="{{ employee.profile_pic_path }}" alt="User profile picture" id="profilePicture">
                  {% else %}
                    <img class="profile-user-img img-fluid img-circle" src="{% static 'dist/img/avatar3.png' %}" alt="User profile picture" id="profilePicture">
                  {% endif %}
                </div>
                <div class="text-center mt-2">
                  <a href="#" id="changeProfilePictureLink">Change Profile Picture</a>
                </div>

                <!-- Modal for changing profile picture -->
                <div class="modal fade" id="changeProfilePictureModal" tabindex="-1" role="dialog" aria-labelledby="changeProfilePictureModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="changeProfilePictureModalLabel">Change Profile Picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form id="changeProfilePictureForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="profilePictureInput" class="form-label">Choose new profile picture</label>
                            <input class="form-control" type="file" id="profilePictureInput" name="profile_pic">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn" style="background-color: #007f5c;color: #fff;">Change Picture</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <h3 class="profile-username text-center"> {{person.person_title.person_title}} {{person.first_name}} {{person.middle_name}} {{person.last_name}} </h3>
                <p class="text-muted text-center"> {{employee.department.department_name}} </p>
                <p class="text-muted text-center"> {{employee.job.job_title}} </p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Salary</b> <a class="float-right" style="color: #007f5c;">{{employee.salary}}</a>
                  </li>
                </ul>

                {% if request.user.is_authenticated and request.user.userprofile.employee %}
                    <div class="text-center">
                        <button onclick="markAttendance()" class="btn" style="background-color: #007f5c; color: #fff;">Mark Attendance</button>
                    </div>
                {% endif %}

              </div>
            </div>
        
            <div class="card card-primary">
              <div class="card-header" style="background-color: #007f5c;color: #fff;">
                <h3 class="card-title" >About {{person.first_name}} </h3>
              </div>
      
              <div class="card-body">
                <strong><i class="fas fa-calendar mr-1"></i> Date Of Birth</strong>
                <p class="text-muted">{{person.date_of_birth}}</p>
                <hr>

                <strong><i class="fas fa-user mr-1"></i> Gender</strong>
                <p class="text-muted">{{person.gender}}</p>
                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Marital Status</strong>
                <p class="text-muted"> {{person.marital_status}}</p>
                <hr>

              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2" >
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="tab nav-link active" href="#timeline" data-toggle="tab">Experience</a></li>
                  <li class="nav-item"><a class="tab nav-link" href="#activity" data-toggle="tab">Contact Information</a></li>
                  <li class="nav-item"><a class="tab nav-link" href="#address" data-toggle="tab">Address</a></li>
                  <li class="nav-item"><a class="tab nav-link" href="#jobhistory" data-toggle="tab">Job history</a></li> 
                  <li class="nav-item"><a class="tab nav-link" href="#guarantee" data-toggle="tab">guarantee</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  
                  <div class="active tab-pane" id="timeline">
                    <div class="timeline timeline-inverse">
                      {% for ex in experience %}
                      <div class="time-label">
                        <span class="bg" style="background-color: #007f5c;color: #fff;">
                          {{ ex.start_date }}
                        </span>
                      </div>
                      <div>
                        <i class="fas fa-home"></i>
                        <div class="timeline-item">
                          <h3 class="timeline-header"><a href="#" style="color: #007f5c;">{{ex.company}}</a></h3>

                          <div class="timeline-body">
                            Worked as a {{ex.title}}
                          </div>
                          <div class="timeline-body">
                            Salary: {{ex.salary}}
                          </div>
  
                        </div>
                      </div>
                      <div class="time-label">
                        <span class="bg-danger">
                          {{ ex.end_date }}
                        </span>
                      </div>
                      {% endfor %}
                
                    </div>
                  </div>

                  <div class="tab-pane" id="activity">
                    {% for con in contact %}
                    <div class="post">
                      <div class="user-block">
                   
                        <span class="username">
                          <a href="#" style="color: #007f5c;">{{con.contact_type.contact_type}}</a>
                        </span>
                        <span class="description">{{con.contact}}</span>
                      </div>
                       <p>{{con.contact_type.contact_type_desc}}</p> 
                    </div>
                    {% endfor %}
                  </div>

                  <div class="tab-pane" id="address">
                    <div class="timeline timeline-inverse">
                      {% for add in address %}
                      <div class="time-label">
                        <span class="bg" style="background-color: #007f5c;color: #fff;">
                        
                        </span>
                      </div>
                      <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="timeline-item">
                          <h3 class="timeline-header"><a href="#" style="color: #007f5c;">{{ add.country }}</a></h3>

                          <div class="timeline-body">
                            Zone/subcity:{{add.zone_subcity}}
                          </div>
                          <div class="timeline-body">
                            Woreda:{{add.woreda}}
                          </div>
                          <div class="timeline-body">
                            Kebele:{{add.kebele}}
                          </div>
                          <div class="timeline-body">
                            House number:{{add.house_number}}
                          </div>
                          <div class="timeline-body">
                            Street name:{{add.street_name}}
                          </div>
                          <div class="timeline-body">
                            Region:{{add.region.region}}
                          </div>
  
                        </div>
                      </div>
                      <div class="time-label">
                        <span class="bg-danger">
                          {{ ex.end_date }}
                        </span>
                      </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="tab-pane" id="guarantee">
                    {% for gt in guarantee %}
                    <div class="post">
                      <div class="user-block">
                   
                        <span class="username">
                          <a href="#" style="color: #007f5c;">{{gt.name}}</a>
                        </span>
                        <span class="description">{{gt.guarantee_type.guarantee_type}}</span>
                      </div>
                       <p>{{gt.salary_evaluation}}</p> 
                    </div>
                    {% endfor %}
                  </div>


                  <div class="tab-pane" id="jobhistory">
                    <div class="timeline timeline-inverse">
                      {% for job in jobhistory %}
                      <div class="time-label">
                        <span class="bg" style="background-color: #007f5c;color: #fff;">
                          {{ job.start_date }}
                        </span>
                      </div>
                      <div>
                        <i class="fas fa-home"></i>
                        <div class="timeline-item">
                          <h3 class="timeline-header"><a href="#" style="color: #007f5c;">{{job.department.department_name}}</a></h3>

                          <div class="timeline-body">
                            Worked as a {{job.job.job_title}}
                          </div>
                          <div class="timeline-body">
                            Salary: {{job.salary}}
                          </div>
                          <div class="timeline-body">
                            Promotion or Demotion: {{job.promotion_or_demotion}}
                          </div>
  
                        </div>
                      </div>
                      <div class="time-label">
                        <span class="bg-danger">
                          {{ job.end_date }}
                        </span>
                      </div>
                      {% endfor %}
                
                    </div>
                  </div>

                </div>
            
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <a href="../index" class="btn btn-secondary">Back</a>
          </div>
        </div>

      </div>
    </section>

    <style>
      .nav-pills .nav-link.active {
          background-color: #007f5c; 
          color: #fff; 
          border: 1px solid #007f5c; 
      }
      
      .nav-pills .nav-link:not(.active):hover {
        color: #00573e; 
      }
      </style>

      <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('profilePicture').addEventListener('click', function() {
          $('#changeProfilePictureModal').modal('show');
        });
      });

      document.getElementById('changeProfilePictureLink').addEventListener('click', function(event) {
        event.preventDefault();
        $('#changeProfilePictureModal').modal('show');
      });

        
      function markAttendance() {
        if (confirm('Are you sure you want to mark your attendance?')) {
            fetch('/mark-attendance/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => response.json())
            .then(data => {
                alert(data.status === 'success' ? 'Attendance marked successfully!' : data.message);
            })
            .catch(error => console.error('Error:', error));
        }
      }
    
    
    </script>
    
  </div>

  {% endblock %}
  